* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --color-button-primary: #1451EF;
    --color-button-houver: #1447e6;
    --color-button-secondary: #00C950;
    --color-button-tertiary: #9810FA;

    --bg-color-primary: #FBFCFC;
    --bg-color-secondary: #D4E7FF;
    --bg-color-tertiary: #71A0FD;
    --bg-color-fourth: #101828;

    --text-color-primary: #364153;
    --text-color-secondary: #99A1AF;
    --text-color-tertiary: #FFFFFF;

    --border: #ebe6e7;
}

header {
    width: 100%;
    height: 100%;
}

nav {
    background-color: var(--text-color-tertiary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
    height: 80px;
    box-shadow: 0.1px 0.1px 5px lightgray;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 500;
}

.logo div {
    background-color: var(--color-button-primary);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    border-radius: 10px;
    color: var(--text-color-tertiary);
    font-family: sans-serif;
    font-weight: bold;
}

.navlinks a {
    display: inline;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    color: var(--text-color-primary);
    cursor: pointer;
    height: 100%;
    width: 90px;
    font-family: sans-serif;
}

.navlinks a:hover {
    color: var(--color-button-houver);
}

.containerHeader {
    background-color: var(--bg-color-primary);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    width: 100%;
    height: 100%;
}

.textHeader {
    height: 420px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.textHeader h1 {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 37px;
    margin-top: 30px;
}

.textHeader p {
    font-family: sans-serif;
    font-size: 19px;
    letter-spacing: 0.10px;
    line-height: 30px;
    color: var(--text-color-primary);
}

.btn-first {
    width: 150px;
    height: 60px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.btn-first-styled {
    background-color: var(--color-button-primary);
    color: var(--text-color-tertiary);
    font-family: sans-serif;
    font-weight: 600;
}

.btn-first-styled:hover {
    background-color: var(--color-button-houver);
    transform: translateY(-3px);
}

.retangulo {
    border-radius: 10px;
    width: 100%;
    height: 320px;
    margin-top: 35px;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color-secondary);
    box-shadow: 0 8px 6px -6px lightgray;
}

.retangulo svg {
    width: 60%;
    color: var(--bg-color-tertiary);
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.section-01 {
    width: 100%;
    height: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.section-01 h2 {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-top: 20px;
}

.section-01 p {
    text-align: center;
    font-size: 19px;
    font-family: sans-serif;
    font-weight: 300;
    color: var(--text-color-primary);
    margin-bottom: 35px;
}

.containerCards {
    width: 100%;
    height: 100%;
}

.card {
    border: 2px solid var(--border);
    border-radius: 10px;
    background-color: var(--bg-color-primary);
    width: 100%;
    height: 370px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 20px;
}

.card svg {
    width: 70%;
    height: 70%;
    color: var(--text-color-tertiary);
}

.logo-card {
    border-radius: 10px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-button-primary);
}

.card h3 {
    font-size: 18px;
    font-weight: 600;
    font-family: sans-serif;
    letter-spacing: 1.5px;
}

.card p {
    color: var(--text-color-primary);
    font-size: 15px;
    font-family: sans-serif;
    width: 270px;
    text-align: start;
    letter-spacing: 1.5px;
    line-height: 25px;
    margin-bottom: 0;
}

.card li {
    color: var(--text-color-primary);
    letter-spacing: 1.5px;
    margin-left: 20px;
    line-height: 30px;
    font-size: 17px;
    font-family: sans-serif;
}

.card li::marker {
    color: var(--color-button-primary);
}

.card:hover {
    box-shadow: -0.1px 5px 8px -1px gray;
    transform: translateY(-1px);
}

.card-segundary .logo-card {
    background-color: var(--color-button-secondary);
}

.card-segundary ul li::marker {
    color: var(--color-button-secondary);
}

.card-tertiary .logo-card {
    background-color: var(--color-button-tertiary);
}

.card-tertiary ul li::marker {
    color: var(--color-button-tertiary);
}

/* /////////////////////////////////////////////////////////////////////////////////////////////// */

.section-02 {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background-color: var(--bg-color-primary);
}

.section-02 h2 {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.section-02 p {
    text-align: center;
    font-size: 19px;
    font-family: sans-serif;
    font-weight: 300;
    color: var(--text-color-primary);
    margin-bottom: 35px;
}

.section-02 table {
    width: 100%;
    border: 1px solid var(--border);
    border-radius: 10px;
    border-collapse: separate;
    border-spacing: 0px;
    box-shadow: 0.5px 5px 100px lightgrey;
}

.section-02 th,
td {
    text-align: start;
    padding: 10px;
    border-bottom: 1px solid var(--border);
}

.section-02 th {
    color: var(--text-color-tertiary);
    background-color: var(--bg-color-fourth);
}

.style-td {
    font-size: 13px;
    font-family: sans-serif;
    font-weight: 100;
    letter-spacing: 1.5px;
    color: var(--text-color-primary);
}

.style-td-hover {
    background-color: #eff6ff;
}

.style-td-hover:hover {
    background-color: var(--bg-color-secondary)
}

.span-Container {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 15px;
}

.span-price {
    font-weight: bolder;
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 1.5px;
}

.span-style {
    color: var(--text-color-secondary);
    font-size: 12px;
    font-family: sans-serif;
}

.btn-secondary {
    border: none;
    width: 90px;
    height: 40px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
}

.btn-styled-secondary {
    background-color: var(--bg-color-primary);
    border: 2px solid var(--color-button-primary);
    font-size: 12px;
    font-weight: bold;
    color: var(--color-button-primary);
}

.btn-styled-secondary:hover {
    background-color: var(--color-button-primary);
    color: var(--bg-color-primary);
}

.align-span {
    display: flex;
    gap: 5px;
}

.popular {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color-tertiary);
    font-size: 10px;
    font-weight: 500;
    font-family: sans-serif;
    background-color: var(--color-button-primary);
    width: 55px;
    height: 20px;
    border-radius: 20px;
    letter-spacing: 1.2px;
}

/* ////////////////////////////////////////////////////////////////////////////////////// */

.section-03 {
    background-color: var(--text-color-tertiary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 850px;
    gap: 20px;
    padding: 10px;
}

.section-03 h2 {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-align: center;
    margin-top: 30px;
}

.section-03 p {
    text-align: center;
    font-size: 19px;
    font-family: sans-serif;
    font-weight: 300;
    color: var(--text-color-primary);
    margin-bottom: 35px;
}

.section-03 svg {
    color: var(--text-color-tertiary);
    width: 35px;
    height: 35px;
}

.containerCard3 {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card-3:hover {
    box-shadow: 0.2px 10px 20px lightgray;
}

.card-3 {
    background-color: var(--bg-color-primary);
    border: 2px solid var(--border);
    border-radius: 10px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    gap: 10px;
}

.card-3 h4 {
    font-family: sans-serif;
    font-size: 19px;
    margin-top: 30px;
    margin-bottom: 5px;
}

.card-3 svg {
    color: var(--bg-color-tertiary);
    width: 100px;
}

.content-02 svg {
    color: var(--color-button-secondary);
}

.logo-section-03 {
    width: 60px;
    height: 60px;
    background-color: var(--color-button-houver);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    color: var(--text-color-tertiary);
    margin-top: 30px;
}

.logo-section-03-segundary {
    background-color: var(--color-button-secondary);
}

.content-logo-03 {
    display: flex;
    gap: 20px;
}

.content-logo-03 p {
    color: var(--text-color-primary);
    font-size: 16px;
    font-family: sans-serif;
}

.cart-content-text {
    display: flex;
    height: 180px;
    font-family: sans-serif;
    color: var(--text-color-primary);
    font-size: 17px;
}

.cart-content-text p {
    margin-top: 12px;
    color: var(--text-color-primary);
}

/* ///////////////////////////////////////////////////////////////////////////////// */

.section-04 {
    width: 100%;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--bg-color-primary);
}

.section-04 h2 {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-top: 20px;
}

.section-04 p {
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 300;
    color: var(--text-color-primary);
    margin-bottom: 35px;
    letter-spacing: 1.5px;
}

.container-form {
    border: 2px solid var(--border);
    background-color: var(--text-color-tertiary);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0.5px 5px 10px lightgray;
    margin-bottom: 20px;
}

.container-form button {
    width: 100%;
}

.container-form label {
    align-self: start;
    letter-spacing: 1.5px;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: var(--text-color-primary);
}

.container-form input {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid var(--border);
    padding: 20px;
}

.container-form input:focus {
    border: 2px solid var(--color-button-primary);
    outline: none;
}

textarea {
    width: 100%;
    height: 35%;
    border: 1px solid var(--border);
    border-radius: 10px;
}

textarea:focus {
    border: 2px solid var(--color-button-primary);
    outline: none;
}

/* //////////////////////////////////////////////////////////////////////////////////////// */

footer {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color-fourth);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    color: var(--text-color-secondary);
    gap: 18px;

}

footer div {
    width: 260px;
    height: 50px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

footer p {
    font-size: 13px;
}

footer a {
    text-decoration: none;
    color: var(--text-color-secondary);
    cursor: pointer;
    font-size: 11.3px;
    letter-spacing: 0.3px;
    font-family: sans-serif;
}

footer a:hover {
    color: #FFF;
}

/* ///////////////////////////////////////////////////////////////////////////////// */

@media (min-width: 768px) {

    nav {
        padding: 15px;
        height: 80px;
        box-shadow: 5px 5px 5px lightgray;
    }

    .logo {
        gap: 15px;
        font-size: 20px;
        font-weight: 700;
    }

    .navlinks a {
        font-size: 15px;
        font-weight: 700;
    }

    .containerHeader {
        padding: 20px;
    }

    .textHeader {
        height: 300px;
        gap: 30px;
    }

    .textHeader p {
        font-family: sans-serif;
        font-size: 15px;
        letter-spacing: 1.5px;
    }

    .retangulo {
        height: 700px;
    }

    .retangulo svg {
        width: 30%;
    }

    /* ////////////////////////////////////////////////////////////////////////////// */

    .section-01 {
        padding: 20px;
    }

    .section-01 h2 {
        font-size: 35px;
    }

    .section-01 p {
        font-size: 20px;
        color: var(--text-color-secondary);
        margin-bottom: 30px;
    }

    .card {
        height: 320px;
        padding: 30px;
        gap: 5px;
    }

    .card h3 {
        font-size: 20px;
        margin-top: 10px;
    }

    .card p {
        color: var(--text-color-secondary);
        width: 100%;
        font-size: 15px;
        margin-bottom: 15px;
    }

    .card li {
        line-height: 25px;
        font-size: 15px;
    }

    /* ///////////////////////////////////////////////////////////////////////////////////// */

    .section-02 {
        height: 600px;
        gap: 15px;
        padding: 20px;
    }

    .section-02 h2 {
        font-size: 35px;
    }

    .section-02 p {
        text-align: center;
        font-size: 20px;
        margin-bottom: 30px;
        letter-spacing: 1px;
    }

    .section-02 table {
        height: 800px;
        margin-bottom: 30px;
    }

    .style-td {
        font-size: 14px;
    }

    .span-price {
        font-size: 25px;
    }

    .span-style {
        font-size: 14px;
    }

    .btn-secondary {
        width: 100px;
        height: 60px;
    }

    .btn-styled-secondary {
        font-size: 13px;
    }

    .align-span {
        gap: 10px;
    }

    .popular {
        font-size: 12px;
        font-weight: 500;
        width: 70px;
        height: 22px;
        letter-spacing: 1px;
    }

    /* //////////////////////////////////////////////////////////////////////////////// */

    .section-03 {
        height: 800px;
        gap: 20px;
        padding: 20px;
    }

    .section-03 h2 {
        font-size: 35px;
    }

    .section-03 p {
        font-size: 20px;
        color: var(--text-color-secondary);
        margin-bottom: 20px;
        text-align: start;
    }

    .containerCard3 {
        gap: 40px;
    }

    .card-3 {
        height: 260px;
        padding: 20px;
        gap: 10px;
    }

    .logo-section-03 {
        width: 70px;
        height: 70px;
        font-size: 20px;
    }

    .content-logo-03 p {
        color: var(--text-color-secondary);
        font-size: 16px;
    }

    .cart-content-text {
        display: flex;
        height: 90px;
    }

    .cart-content-text p {
        margin-top: 12px;
        color: var(--text-color-secondary);
        font-size: 17px;
    }

    /* /////////////////////////////////////////////////////////////////////////// */

    .section-04 {
        padding: 50px;
    }

    .section-04 h2 {
        font-size: 35px;
    }

    .section-04 p {
        font-size: 20px;
        color: var(--text-color-secondary);
    }

    .container-form {
        height: 580px;
        padding: 50px;
        margin-bottom: 50px;
    }

    .container-form label {
        font-size: 14px;
    }

    .container-form input {
        border: 3px solid var(--border);

        background-color: var(--bg-color-primary);
    }

    textarea {
        height: 30%;
        border: 3px solid var(--border);
        margin-bottom: 20px;
    }

    textarea:focus {
        border: 2px solid var(--color-button-primary);
        outline: none;
    }

    /* //////////////////////////////////////////////////////////////////////////////// */


    footer div {
        width: 370px;
    }

    footer p {
        font-size: 14px;
    }

    footer a {
        text-decoration: none;
        color: var(--text-color-secondary);
        cursor: pointer;
        font-size: 15px;
        letter-spacing: 0.3px;
        font-family: sans-serif;
    }

}

/* @media (min-width: 1024px) {
    body{
        background-color: red;
    }
}

@media (min-width: 1280px) {
    body{
        background-color: #9810FA;
    }
}


@media (min-width: 1440px) {
    body{
        background-color: blue;
    }
} */