* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --color-button-primary: #1451EF;
    --color-button-houver: #1447e6;
    --color-button-secondary: #00C950;
    --color-button-tertiary: #9810FA;

    --bg-color-primary: #FBFCFC;
    --bg-color-secondary: #D4E7FF;
    --bg-color-tertiary: #71A0FD;
    --bg-color-fourth: #101828;

    --text-color-primary: #364153;
    --text-color-secondary: #99A1AF;
    --text-color-tertiary: #FFFFFF;

    --border: #ebe6e7;
}

/* header {
    border: 1px solid red;
    width: 100%;
    height: 100%;
}

nav {
    background-color: var(--text-color-tertiary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
    height: 80px;
    box-shadow: 0.1px 0.1px 5px lightgray;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 500;
}

.logo div {
    background-color: var(--color-button-primary);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    border-radius: 10px;
    color: var(--text-color-tertiary);
    font-family: sans-serif;
    font-weight: bold;
}

.navlinks a {
    display: inline;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    color: var(--text-color-primary);
    cursor: pointer;
    height: 100%;
    width: 90px;
    font-family: sans-serif;
}

.navlinks a:hover {
    color: var(--color-button-houver);
}

.containerHeader{
    background-color: aquamarine;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    width: 100%;
    height: 100%;
}

.textHeader {
    border: 1px solid #101828;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.textHeader h1 {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 37px;
    margin-top: 30px;
}

.textHeader p {
    font-family: sans-serif;
    font-size: 20px;
    letter-spacing: 0.3px;

} */

.containerGeneral {
    max-width: 100%;
    min-height: 90vh;
    background-color: var(--bg-color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    position: absolute;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    width: 100%;
    height: 80px;
    padding: 16px 48px 16px 48px;
    box-shadow: 0.1px 0.1px 5px lightgray;
    position: fixed;
    top: 0px;
}

.logo,
.logo div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logo div {
    background-color: var(--color-button-primary);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}

.logo p {
    font-size: 20px;
}

.navlinks a {
    text-decoration: none;
    color: var(--text-color-primary);
    margin-left: 10px;
    font-size: 18px;
}

.navlinks a:hover {
    color: var(--color-button-primary);
}

.containerHeader {
    height: 650px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.retangulo {
    width: 100%;
    height: 80%;
    background-color: var(--bg-color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    border-radius: 15px;
    box-shadow: 0 8px 6px -6px lightgray;
}

.retangulo img {
    width: 35%;
    height: 35%;
}

h1 {
    font-size: 55.9px;
    margin-bottom: 20px;
    font-weight: 700;
}

.textHeader p {
    font-size: 24.3px;
    color: var(--text-color-primary);
    margin-bottom: 20px;
    letter-spacing: 1px;
    line-height: 140%;
}

.textHeader {
    padding: 30px 30px 30px 0;
}

.btn-primary {
    width: 200px;
    height: 70px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.btn-styled-primary {
    background-color: var(--color-button-primary);
    font-size: 20px;
    font-weight: bold;
    color: var(--bg-color-primary);
}

.btn-styled-primary:hover {
    background-color: var(--color-button-houver);
    transform: translateY(-3px);
}

.section-01 {
    background-color: #FFF;
    gap: 10px;
}

h2 {
    font-size: 45px;

}

p {
    font-size: 20px;
}

.containerCards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 90%;
    height: 60vh;
}

.card {
    width: 50%;
    height: 75%;
    border: 1px solid var(--border);
    background-color: var(--bg-color-primary);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card p {
    color: var(--text-color-primary);
    letter-spacing: 0.5px;
}

.card li {
    margin-bottom: 10px;
     color: var(--text-color-primary);
    letter-spacing: 0.5px;
}

.card:hover {
    box-shadow: -0.1px 5px 8px -1px gray;
    transform: translateY(-1px);
}

.card .logo-card {
    background-color: var(--color-button-primary);
    border-radius: 10px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card p,
.card ul li {
    font-size: 17px;
}

.card ul {
    margin-left: 20px;
}

.card ul li::marker {
    color: var(--color-button-primary);
}

.card-segundary .logo-card {
    background-color: var(--color-button-secondary);
}

.card-segundary ul li::marker {
    color: var(--color-button-secondary);
}

.card-tertiary .logo-card {
    background-color: var(--color-button-tertiary);
}

.card-tertiary ul li::marker {
    color: var(--color-button-tertiary);
}

.section-02,
.section-03 {
    gap: 20px;
}

.section-02 table {
    border: 2px solid var(--border);
    border-collapse: separate;
    border-spacing: 0px;
    border-radius: 10px;
    width: 90%;
    height: 400px;
    margin-top: 20px;
    box-shadow: 0.5px 5px 100px lightgrey;
}

.section-02 th,
td {
    text-align: start;
    padding: 10px;
    border-bottom: 1px solid var(--border);
}

.section-02 th {
    color: #FFF;
    background-color: var(--bg-color-fourth);
}

.style-td{
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 0.5px;
    color: var(--text-color-primary);
}

.style-td-hover {
    background-color: #eff6ff;
}

.style-td-hover:hover{
    background-color:var(--bg-color-secondary)
}

svg {
    color: #FFF;
    width: 35px;
    height: 35px;
}

.span-Container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.span-style{
    color: var(--text-color-secondary);
    font-size: 16px;
}

.span-price{
    font-weight: bolder;
    font-size: 25px;
}

.btn-secondary{
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
}

.btn-styled-secondary {
    background-color: var(--bg-color-primary);
    border: 2px solid var(--color-button-primary);
    font-size: 16px;
    font-weight: bold;
    color: var(--color-button-primary);
}

.btn-styled-secondary:hover{
    background-color: var(--color-button-primary);
    color: var(--bg-color-primary);
}

.align-span{
    display: flex;
    gap: 5px;
}

.popular{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 13px;
    font-weight: 500;
    background-color: var(--color-button-primary);
    width: 60px;
    height: 25px;
    border-radius: 20px;
    letter-spacing: 0.3px;

}

.section-03 {
    background-color: #FFF;
}

.containerCard3 {
    width: 95%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.card-3:hover {
    box-shadow: 0.2px 10px 20px  lightgray;
}

.card-3 {
    background-color: var(--bg-color-primary);
    border: 1px solid var(--border);
    border-radius: 10px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.card-3 svg {
    color: var(--bg-color-tertiary);
    width: 70px;
}

.content-02 svg {
    color: var(--color-button-secondary);
}

.logo-section-03 {
    width: 70px;
    height: 70px;
    background-color: var(--color-button-houver);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bolder;
    color: #fff;
}

.logo-section-03-segundary {
    background-color: var(--color-button-secondary);
}

.content-logo-03 {
    display: flex;
    gap: 20px;
}

.content-logo-03 p {
    color: var(--text-color-primary);
}

.cart-content-text {
    display: flex;
    height: 100px;
}

.cart-content-text p {
    margin-top: 12px;
    color: var(--text-color-primary);
}

.section-04 {
    gap: 20px;
    height: 100vh;
}

.container-form {
    border: 1px solid var(--border);
    background-color: #FFF;
    width: 700px;
    height: 536px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding: 48px;
    border-radius: 10px;
    box-shadow: 0.5px 5px 10px lightgray;
}

.container-form button {
    align-self: start;
}

.container-form label {
    align-self: start;
}

.container-form input {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid var(--border);
    padding: 20px;
}

.container-form input:focus {
    border: 2px solid var(--color-button-primary);
    outline: none;
}

textarea {
    width: 100%;
    height: 35%;
    border: 1px solid var(--border);
    border-radius: 10px;
}

textarea:focus {
    border: 2px solid var(--color-button-primary);
    outline: none;
}

footer {
    width: 100%;
    height: 100px;
    background-color: var(--bg-color-fourth);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    color: var(--text-color-secondary);
}

footer div {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer p {
    font-size: 13px;
}
footer a {
    text-decoration: none;
    color: var(--text-color-secondary);
    cursor: pointer;
    font-size: 13px;
    letter-spacing: 0.3px;
}

footer a:hover{
    color: #FFF;
}
