* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --color-button-primary: #1451EF;
    --color-button-houver: #1447e6;
    --color-button-secondary: #00C950;
    --color-button-tertiary: #9810FA;

    --bg-color-primary: #FBFCFC;
    --bg-color-secondary: #D4E7FF;
    --bg-color-tertiary: #71A0FD;
    --bg-color-fourth: #101828;

    --text-color-primary: #364153;
    --text-color-secondary: #99A1AF;

    --border: #ebe6e7;
}

.containerGeneral {
    max-width: 100%;
    min-height: 80vh;
    background-color: var(--bg-color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    width: 100%;
    height: 56px;
    padding: 16px 48px 16px 48px;
    box-shadow: 0.1px 0.1px 5px lightgray;
}

.logo,
.logo div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logo div {
    background-color: var(--color-button-primary);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}

.logo p {
    font-size: 20px;
}

.navlinks a {
    text-decoration: none;
    color: var(--text-color-primary);
    margin-left: 10px;
    font-size: 18px;
}

.navlinks a:hover {
    color: var(--color-button-primary);
}

.containerHeader {
    height: 650px;
    width: 95%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.retangulo {
    width: 100%;
    height: 80%;
    background-color: var(--bg-color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    border-radius: 15px;
    box-shadow: 0 8px 6px -6px lightgray;
}

.retangulo img {
    width: 35%;
    height: 35%;
}

h1 {
    font-size: 55.9px;
    margin-bottom: 20px;
    font-weight: 700;
}

.textHeader p {
    font-size: 24.3px;
    color: var(--text-color-primary);
    margin-bottom: 20px;
    letter-spacing: 1px;
    line-height: 140%;

}

.textHeader {
    /* border: 1px solid salmon; */
    padding: 30px 30px 30px 0;
}

.btn-primary {
    width: 200px;
    height: 70px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.btn-styled-primary {
    background-color: var(--color-button-primary);
    font-size: 20px;
    font-weight: bold;
    color: var(--bg-color-primary);
}

.btn-styled-primary:hover {
    background-color: var(--color-button-houver);
    transform: translateY(-3px);
}

.section-01 {
    background-color: #FFF;
    justify-content: center;
    border: 1px solid rebeccapurple;
    gap: 10px;
}

h2 {
    font-size: 45px;

}

p {
    font-size: 20px;
}

.containerCards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    /* border: 1px solid red; */
    width: 90%;
    height: 60vh;

}

.card {
    width: 50%;
    height: 75%;
    border: 1px solid var(--border);
    background-color: var(--bg-color-primary);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card .logo-card {
    background-color: var(--color-button-primary);
    border-radius: 10px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card p,
.card ul li {
    font-size: 17px;
}

.card ul {
    margin-left: 20px;
}

.card ul li::marker {
    color: var(--color-button-primary);
}

.card-segundary .logo-card {
    background-color: var(--color-button-secondary);
}

.card-segundary ul li::marker {
    color: var(--color-button-secondary);
}

.card-tertiary .logo-card {
    background-color: var(--color-button-tertiary);
}

.card-tertiary ul li::marker {
    color: var(--color-button-tertiary);
}

.section-02,
.section-03 {
    gap: 20px;
}

.section-02 table {
    border: 2px solid var(--border);
    border-collapse: separate;
    border-spacing: 0px;
    border-radius: 10px;
    width: 90%;
    height: 400px;
}

.section-02 th,
td {
    text-align: start;
    padding: 10px;
    border-bottom: 1px solid var(--border);
}

.section-02 th {
    color: #FFF;
    background-color: var(--bg-color-fourth);
}

svg {
    color: #FFF;
    width: 35px;
    height: 35px;
}


.section-03 {
    background-color: #FFF;
}

.containerCard3 {
    width: 95%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.card-3 {
    background-color: var(--bg-color-primary);
    border: 1px solid var(--border);
    border-radius: 10px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-3 svg {
    color: var(--bg-color-tertiary);
    width: 70px;
}

.content-02 svg {
    color: var(--color-button-secondary);
}

.logo-section-03 {
    width: 70px;
    height: 70px;
    background-color: var(--color-button-houver);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bolder;
    color: #fff;

}

.logo-section-03-segundary {
    background-color: var(--color-button-secondary);
}

.content-logo-03 {
    display: flex;
    gap: 20px;
}

.cart-content-text {
    display: flex;
    height: 100px;

}

.cart-content-text p {
    margin-top: 12px;
}

.container-form {
    border: 1px solid var(--border);
    background-color: #FFF;
    width: 700px;
    height: 536px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 48px;
    border-radius: 10px;
}

.container-form label {
    align-self: start;
}

.container-form input {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid var(--border);
    padding: 20px;
}

.container-form input:focus {
    border: 2px solid var(--color-button-primary);
    outline: none;
}

/* @media(width: 1440px ) {

   header{
   background-color: #00C950;
    }
   
    h1 {
        font-size: 49px;
    }

    .textHeader p {
        font-size: 1px;

    }

    .retangulo {
        width: 110%;
        height: 80%;
    }

    .btn-primary {
        width: 150px;
        height: 60px;

    }
} */

@media(max-width: 1024px) {

    header {
        background-color: red;
    }

    h1 {
        font-size: 45px;
    }

    .textHeader p {
        font-size: 17px;

    }

    .retangulo {
        width: 110%;
        height: 80%;
    }

    .btn-primary {
        width: 150px;
        height: 60px;

    }
}